<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PGFinder - Available Rooms</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  
</head>
<body>
  {{>navbar}}
  
  <div class="container mt-5">
    <h1 class="text-center"><content>Available Rooms</h1>
    <div class="row">
      <!-- Room Card 1 -->
      <div class="col-md-4">
        <div class="card mb-4">
          <div id="carouselRoom1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="\images\Star City\Ravi pg for boys\1.jpg" class="d-block w-100" alt="Room 1 Image 1">
              </div>
              <div class="carousel-item">
                <img src="\images\Star City\Ravi pg for boys\2.jpg" class="d-block w-100" alt="Room 1 Image 2">
              </div>
              <div class="carousel-item">
                <img src="\images\Star City\Ravi pg for boys\3.jpg" class="d-block w-100" alt="Room 1 Image 3">
              </div>
              <div class="carousel-item">
                <img src="\images\Star City\Ravi pg for boys\4.jpg" class="d-block w-100" alt="Room 1 Image 4">
              </div>
              <div class="carousel-item">
                <img src="\images\Star City\Ravi pg for boys\5.jpg" class="d-block w-100" alt="Room 1 Image 5">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselRoom1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselRoom1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">2 Seater for Boys and Girls</h5>
            <p class="card-text"><strong>Rent: Rs.7000</strong><br>Star City</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#room1Modal">
              More Details
            </button>
          </div>
        </div>
    </div>

      <!-- Room Card 2 -->
      <div class="col-md-4">
        <div class="card mb-4">
          <div id="carouselRoom2" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="\images\Star City\singh accomodation\1.jpg" class="d-block w-100" alt="Room 2 Image 1">
              </div>
              <div class="carousel-item">
                <img src="\images\Star City\singh accomodation\2.jpg" class="d-block w-100" alt="Room 2 Image 2">
              </div>
              <div class="carousel-item">
                <img src="\images\Star City\singh accomodation\3.jpg" class="d-block w-100" alt="Room 2 Image 3">
              </div>
              <div class="carousel-item">
                <img src="\images\Star City\singh accomodation\4.jpg" class="d-block w-100" alt="Room 2 Image 3">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselRoom2" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselRoom2" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">2 Seater for Boys</h5>
            <p class="card-text"><strong>Rent: Rs.7000</strong><br>Star City</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#room2Modal">
              More Details
            </button>
          </div>
        </div>
      </div>

      <!-- Room Card 3 -->
      <div class="col-md-4">
              <div class="card mb-4">
                <div id="carouselRoom3" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="\images\Star City\homeland luxury pg for boys and girls\1.jpg" class="d-block w-100" alt="Room 3 Image 1">
                    </div>
                    <div class="carousel-item">
                      <img src="\images\Star City\homeland luxury pg for boys and girls\2.jpg" class="d-block w-100" alt="Room 3 Image 2">
                    </div>
                    <div class="carousel-item">
                      <img src="\images\Star City\homeland luxury pg for boys and girls\3.jpg" class="d-block w-100" alt="Room 3 Image 3">
                    </div>
                    <div class="carousel-item">
                      <img src="\images\Star City\homeland luxury pg for boys and girls\4.jpg" class="d-block w-100" alt="Room 3 Image 3">
                    </div>
                    <div class="carousel-item">
                      <img src="\images\Star City\homeland luxury pg for boys and girls\5.jpg" class="d-block w-100" alt="Room 3 Image 3">
                    </div>
                    <div class="carousel-item">
                      <img src="\images\Star City\homeland luxury pg for boys and girls\6.jpg" class="d-block w-100" alt="Room 3 Image 3">
                    </div>
                    <div class="carousel-item">
                      <img src="\images\Star City\homeland luxury pg for boys and girls\7.jpg" class="d-block w-100" alt="Room 3 Image 3">
                    </div>
                    <div class="carousel-item">
                      <img src="\images\Star City\homeland luxury pg for boys and girls\8.jpg" class="d-block w-100" alt="Room 3 Image 3">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselRoom3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselRoom3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">2 Seater for Boys and Girls</h5>
                  <p class="card-text"><strong>Rent: Rs.9500</strong><br>Star City</p>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#room3Modal">
                    More Details
                  </button>
                </div>
              </div>
            </div>      
                  
      <!-- Room Card 4 -->
      <div class="col-md-4">
        <div class="card mb-4">
          <div id="carouselRoom4" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="\images\Star City\Ranjit pg for boys\1.jpg" class="d-block w-100" alt="Room 4 Image 1">
              </div>
              <div class="carousel-item">
                <img src="\images\Star City\Ranjit pg for boys\2.jpg" class="d-block w-100" alt="Room 4 Image 2">
              </div>
              <div class="carousel-item">
                <img src="\images\Star City\Ranjit pg for boys\3.jpg" class="d-block w-100" alt="Room 4 Image 3">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselRoom4" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselRoom4" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Ranjit PG for Boys</h5>
            <p class="card-text"><strong>Rent: </strong><br>Star City</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#room4Modal">
              More Details
            </button>
          </div>
        </div>
      </div>

      <!-- Room Card 5 -->
      <div class="col-md-4">
        <div class="card mb-4">
          <div id="carouselRoom5" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="\images\Star City\Daliwal Homes\1.jpg" class="d-block w-100" alt="Room 5 Image 1">
              </div>
              
            </div>
            <a class="carousel-control-prev" href="#carouselRoom5" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselRoom5" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">2 Seater for Boys and Girls</h5>
            <p class="card-text"><strong>Rent: 10000 </strong><br>Star City</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#room5Modal">
              More Details
            </button>
          </div>
        </div>
      </div>

      <!-- Room Card 6 -->
      <div class="col-md-4">
        <div class="card mb-4">
          <div id="carouselRoom6" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="\images\Star City\radhe gopal\1.jpg" class="d-block w-100" alt="Room 6 Image 1">
              </div>
              
            </div>
            <a class="carousel-control-prev" href="#carouselRoom6" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselRoom6" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">2 Seater for Boys and Girls</h5>
            <p class="card-text"><strong>Rent: 11500 </strong><br>Star City</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#room6Modal">
              More Details
            </button>
          </div>
        </div>
      </div>

      <!-- Room Card 7 -->
      <div class="col-md-4">
        <div class="card mb-4">
          <div id="carouselRoom7" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="\images\Star City\deol pg 2nd\1.jpg" class="d-block w-100" alt="Room 7 Image 1">
              </div>
              <div class="carousel-item">
                <img src="\images\Star City\deol pg 2nd\2.jpg" class="d-block w-100" alt="Room 7 Image 2">
              </div>
              <div class="carousel-item">
                <img src="\images\Star City\deol pg 2nd\3.jpg" class="d-block w-100" alt="Room 7 Image 3">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselRoom7" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselRoom7" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">2 Seater for Boys</h5>
            <p class="card-text"><strong>Rent: 12000 </strong><br>Star City</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#room7Modal">
              More Details
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
      
  

  <!-- Modal for Room 1 -->
  <div class="modal fade" id="room1Modal" tabindex="-1" role="dialog" aria-labelledby="room1ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-custom-height" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="room1ModalLabel">2 Seater for Boys and Girls</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="carouselRoom1Modal" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="\images\Star City\Ravi pg for boys\1.jpg" class="d-block w-100" alt="Room 1 Image 1">
              </div>
              <div class="carousel-item">
                <img src="\images\Star City\Ravi pg for boys\2.jpg" class="d-block w-100" alt="Room 1 Image 2">
              </div>
              <div class="carousel-item">
                <img src="\images\Star City\Ravi pg for boys\3.jpg" class="d-block w-100" alt="Room 1 Image 3">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselRoom1Modal" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselRoom1Modal" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <li><strong>Ravi Pg</strong></li>
          <ul>
          <li><strong>Rent : 7000</strong></li>  
          <li><strong>Facilities:</strong></li>
          <ul>
            <li>Wifi: Available for internet connectivity.</li>
            <li>Water Cooler: Accessible for refreshing cold water.</li>
          </ul>
          <li><strong>Accommodation:</strong></li>
          <ul>
            <li>Double Seater Rooms: Each room accommodates two individuals.</li>
            <li>Attached Washroom: Ensures privacy and convenience.</li>
            <li>Flat-like Setup: Rooms are structured like flats, with a common area in each compartment.</li>
            <li>Separate Area for Girls: Ensures gender-specific accommodation.</li>
            <li>Open Area: Provides an open space in front of the premises for relaxation or other activities.</li>
            <li>
    <strong>Location:</strong>
    <a href="https://maps.app.goo.gl/gnUGtxYRzYVagED87" target="_blank">https://maps.app.goo.gl/gnUGtxYRzYVagED87</a>
  </li>
          </ul>
          <li><strong>Amenities:</strong></li>
          <ul>
            <li>Geyser: Available for hot water supply, especially during cold weather.</li>
            <li>Common Fridge: Shared refrigerator space for storing food items.</li>
            <li>Electricity Bill: Separate billing for electricity consumption.</li>
            <li>Fan: Provided for air circulation within the rooms.</li>
            <li>AC: Air conditioning units installed for cooling.</li>
            <li>Cooler: Not provided.</li>
          </ul>
          <li><strong>Additional Information:</strong></li>
          <ul>
            <li>Meal Cost: Extra charge of approximately 3000/* for meals.</li>
            <li>Contact: Details for inquiries or further information.</li>
            <li><strong>Note*</strong>: Prices mentioned are part of a monthly subscription model. Security deposit may be required. Prices and features are subject to change without prior notice. No guarantee is provided regarding fixed pricing or features.</li>
          </ul>
        </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for Room 2 -->
  <div class="modal fade" id="room2Modal" tabindex="-1" role="dialog" aria-labelledby="room2ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-custom-height" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="room2ModalLabel">2 Seater for Boys</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="carouselRoom2Modal" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="\images\Star City\singh accomodation\1.jpg" class="d-block w-100" alt="Room 2 Image 1">
              </div>
              <div class="carousel-item">
                <img src="\images\Star City\singh accomodation\2.jpg" class="d-block w-100" alt="Room 2 Image 2">
              </div>
              <div class="carousel-item">
                <img src="\images\Star City\singh accomodation\3.jpg" class="d-block w-100" alt="Room 2 Image 3">
              </div>
              <div class="carousel-item">
                <img src="\images\Star City\singh accomodation\4.jpg" class="d-block w-100" alt="Room 2 Image 4">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselRoom2Modal" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselRoom2Modal" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <li><strong>Singh Accomodations</strong></li>
<ul>
  <li><strong>Rent : 7000</strong></li>
  <li><strong>Facilities:</strong></li>
  <ul>
    <li>Wifi: Available for internet connectivity.</li>
    <li>Water Cooler: Accessible for refreshing cold water.</li>
  </ul>
  <li><strong>Accommodation:</strong></li>
  <ul>
    <li>Double Seater Rooms: Each room accommodates two individuals.</li>
    <li>Attached Washroom: Ensures privacy and convenience.</li>
    <li><strong>Location:</strong> <a href="https://maps.app.goo.gl/KuZRD4WnY3vdbMFn8" target="_blank">https://maps.app.goo.gl/KuZRD4WnY3vdbMFn8</a></li>
    <li>Walking distance From CU.</li>
  </ul>
  <li><strong>Amenities:</strong></li>
  <ul>
    <li>Washing Machine: Available for use.</li>
    <li>Geyser: Available for hot water supply, especially during cold weather.</li>
    <li>Electricity Bill: Separate billing for electricity consumption.</li>
    <li>Fan: Provided for air circulation within the rooms.</li>
    <li>AC: Not provided.</li>
    <li>Cooler: Not provided.</li>
  </ul>
  <li><strong>Additional Information:</strong></li>
  <ul>
    <li>Meal Cost: Extra charge of approximately 3500/* for meals.</li>
    <li>Contact: 8699601200 for inquiries or further information.</li>
    <li><strong>Note*:</strong> All the prices are part of a monthly subscription model. One might have to pay a security deposit despite all this. The price is totally dependent on the property owner and is subject to change. We do not guarantee any definite pricing or features.</li>
  </ul>
</ul>

        </div>
      </div>
    </div>
  </div>

  <!-- Modal for Room 3 -->
  <div class="modal fade" id="room3Modal" tabindex="-1" role="dialog" aria-labelledby="room3ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-custom-height" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="room3ModalLabel">2 Seater for Boys and Girls</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="carouselRoom3Modal" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="\images\Star City\homeland luxury pg for boys and girls\1.jpg" class="d-block w-100" alt="Room 3 Image 1">
              </div>
              <div class="carousel-item">
                <img src="\images\Star City\homeland luxury pg for boys and girls\2.jpg" class="d-block w-100" alt="Room 3 Image 2">
              </div>
              <div class="carousel-item">
                <img src="\images\Star City\homeland luxury pg for boys and girls\3.jpg" class="d-block w-100" alt="Room 3 Image 3">
              </div>
              <div class="carousel-item">
                <img src="\images\Star City\homeland luxury pg for boys and girls\4.jpg" class="d-block w-100" alt="Room 3 Image 4">
              </div>
              <div class="carousel-item">
                <img src="\images\Star City\homeland luxury pg for boys and girls\5.jpg" class="d-block w-100" alt="Room 3 Image 5">
              </div>
              <div class="carousel-item">
                <img src="\images\Star City\homeland luxury pg for boys and girls\6.jpg" class="d-block w-100" alt="Room 3 Image 6">
              </div>
              <div class="carousel-item">
                <img src="\images\Star City\homeland luxury pg for boys and girls\7.jpg" class="d-block w-100" alt="Room 3 Image 7">
              </div>
              <div class="carousel-item">
                <img src="\images\Star City\homeland luxury pg for boys and girls\8.jpg" class="d-block w-100" alt="Room 3 Image 7">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselRoom3Modal" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselRoom3Modal" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <li><strong>Homeland Luxury Pg for Boys and Girls</strong></li>
<ul>
  <li><strong>Rent : 9500</strong></li>
  <li><strong>Facilities:</strong></li>
  <ul>
    <li>Wifi: Available for internet connectivity.</li>
    <li>Water Cooler: Accessible for refreshing cold water.</li>
  </ul>
  <li><strong>Accommodation:</strong></li>
  <ul>
    <li>Double Seater Rooms: Each room accommodates two individuals.</li>
    <li>Attached Washroom: Ensures privacy and convenience.</li>
    <li>Separate Area for Girls: Ensures gender-specific accommodation.</li>
    <li><strong>Location:</strong> <a href="https://maps.app.goo.gl/o254K5esucDtSMNX6" target="_blank">https://maps.app.goo.gl/o254K5esucDtSMNX6</a></li>
    <li>Walking Distance from CU.</li>
  </ul>
  <li><strong>Amenities:</strong></li>
  <ul>
    <li>Washing Machine: Available for use.</li>
    <li>Geyser: Available for hot water supply, especially during cold weather.</li>
    <li>Electricity Bill: Separate billing for electricity consumption.</li>
    <li>Fan: Provided for air circulation within the rooms.</li>
    <li>AC: Air conditioning units installed for cooling.</li>
    <li>Cooler: Provided for additional cooling.</li>
  </ul>
  <li><strong>Additional Information:</strong></li>
  <ul>
    <li>Food Price: Included in the rent.</li>
    <li>Contact: 8059679997 for inquiries or further information.</li>
    <li><strong>Note*:</strong> All the prices are part of a monthly subscription model. One might have to pay a security deposit despite all this. The price is totally dependent on the property owner and is subject to change. We do not guarantee any definite pricing or features.</li>
  </ul>
</ul>

        </div>
      </div>
    </div>
  </div>

  <!-- Modal for Room 4 -->
  <div class="modal fade" id="room4Modal" tabindex="-1" role="dialog" aria-labelledby="room4ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-custom-height" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="room4ModalLabel">Room 4 Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="carouselRoom4Modal" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="\images\Star City\Ranjit pg for boys\1.jpg" class="d-block w-100" alt="Room 4 Image 1">
              </div>
              <div class="carousel-item">
                <img src="\images\Star City\Ranjit pg for boys\2.jpg" class="d-block w-100" alt="Room 4 Image 2">
              </div>
              <div class="carousel-item">
                <img src="\images\Star City\Ranjit pg for boys\3.jpg" class="d-block w-100" alt="Room 4 Image 3">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselRoom4Modal" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselRoom4Modal" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <p>Details about Room 4 including amenities, pricing, and other information.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for Room 5 -->
  <div class="modal fade" id="room5Modal" tabindex="-1" role="dialog" aria-labelledby="room5ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-custom-height" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="room5ModalLabel">2 Seater for Boys and Girls</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="carouselRoom5Modal" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="\images\Star City\Daliwal Homes\1.jpg" class="d-block w-100" alt="Room 5 Image 1">
              </div>
              
            </div>
            <a class="carousel-control-prev" href="#carouselRoom5Modal" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselRoom5Modal" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <li><strong>Daliwal Homes</strong></li>
<ul>
  <li><strong>Rent : 10000</strong></li>
  <li><strong>Facilities:</strong></li>
  <ul>
    <li>Wifi: Available for internet connectivity.</li>
    <li>Water Cooler: Accessible for refreshing cold water.</li>
  </ul>
  <li><strong>Accommodation:</strong></li>
  <ul>
    <li>Double Seater Rooms: Each room accommodates two individuals.</li>
    <li>Attached Washroom: Ensures privacy and convenience.</li>
    <li>Separate Area for Girls: Ensures gender-specific accommodation.</li>
    <li><strong>Location:</strong> <a href="https://maps.app.goo.gl/hyGF3egvyUjf3dbt7" target="_blank">https://maps.app.goo.gl/hyGF3egvyUjf3dbt7</a></li>
    <li>Walking Distance from CU.</li>
  </ul>
  <li><strong>Amenities:</strong></li>
  <ul>
    <li>Washing Machine: Available for use.</li>
    <li>Geyser: Available for hot water supply, especially during cold weather.</li>
    <li>Electricity Bill: Separate billing for electricity consumption.</li>
    <li>Fan: Provided for air circulation within the rooms.</li>
    <li>AC: Air conditioning units installed for cooling.</li>
    <li>Cooler: Provided for additional cooling.</li>
  </ul>
  <li><strong>Additional Information:</strong></li>
  <ul>
    <li>Food Price: Included in the rent.</li>
    <li>Contact: 987488238, 788669330, 8699509013 for inquiries or further information.</li>
    <li><strong>Note*:</strong> All the prices are part of a monthly subscription model. One might have to pay a security deposit despite all this. The price is totally dependent on the property owner and is subject to change. We do not guarantee any definite pricing or features.</li>
  </ul>
</ul>

        </div>
      </div>
    </div>
  </div>

  <!-- Modal for Room 6 -->
  <div class="modal fade" id="room6Modal" tabindex="-1" role="dialog" aria-labelledby="room6ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-custom-height" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="room6ModalLabel">2 Seater for Boys and Girls</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="carouselRoom6Modal" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="\images\Star City\radhe gopal\1.jpg" class="d-block w-100" alt="Room 6 Image 1">
              </div>
              
            </div>
            <a class="carousel-control-prev" href="#carouselRoom6Modal" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselRoom6Modal" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <li><strong>Radhe Gopal Pg for Boys and Girls</strong></li>
<ul>
  <li><strong>Rent : 11500</strong></li>
  <li><strong>Facilities:</strong></li>
  <ul>
    <li>Wifi: Available for internet connectivity.</li>
    <li>Water Cooler: Accessible for refreshing cold water.</li>
  </ul>
  <li><strong>Accommodation:</strong></li>
  <ul>
    <li>Double Seater Rooms: Each room accommodates two individuals with an attached washroom.</li>
    <li>Rooms are like flats with a common area in each compartment.</li>
    <li>Separate Area for Girls: Ensures gender-specific accommodation.</li>
    <li>Open area in front for recreational activities.</li>
    <li><strong>Location:</strong> <a href="https://maps.app.goo.gl/4aTwUg4TVTwQ8qDe8" target="_blank">https://maps.app.goo.gl/4aTwUg4TVTwQ8qDe8</a></li>
  </ul>
  <li><strong>Amenities:</strong></li>
  <ul>
    <li>Geyser: Available for hot water supply, especially during cold weather.</li>
    <li>Common Fridge: Accessible for storing food and drinks.</li>
    <li>Electricity Bill: Separate billing for electricity consumption.</li>
    <li>Fan: Provided for air circulation within the rooms.</li>
    <li>AC: Air conditioning units installed for cooling.</li>
    <li>Cooler: Not available.</li>
  </ul>
  <li><strong>Contact Information:</strong></li>
  <ul>
    <li>Contact: 9023506010, 9417622204 for inquiries or further information.</li>
  </ul>
  <li><strong>Additional Information:</strong></li>
  <ul>
    <li><strong>Note*:</strong> All the prices are part of a monthly subscription model. One might have to pay a security deposit despite all this. The price is totally dependent on the property owner and is subject to change. We do not guarantee any definite pricing or features.</li>
  </ul>
</ul>

        </div>
      </div>
    </div>
  </div>

  <!-- Modal for Room 7 -->
  <div class="modal fade" id="room7Modal" tabindex="-1" role="dialog" aria-labelledby="room7ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-custom-height" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="room7ModalLabel">2 Seater for Boys</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="carouselRoom7Modal" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="\images\Star City\deol pg 2nd\1.jpg" class="d-block w-100" alt="Room 7 Image 1">
              </div>
              <div class="carousel-item">
                <img src="\images\Star City\deol pg 2nd\2.jpg" class="d-block w-100" alt="Room 7 Image 2">
              </div>
              <div class="carousel-item">
                <img src="\images\Star City\deol pg 2nd\3.jpg" class="d-block w-100" alt="Room 7 Image 3">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselRoom7Modal" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselRoom7Modal" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <li><strong>Deol's PG for Boys</strong></li>
          <li><strong>Accommodation Details</strong></li>
<ul>
  <li><strong>Rent:12000</strong></li>
  <li><strong>Facilities:</strong></li>
  <ul>
    <li>Wifi: Available for internet connectivity.</li>
    <li>Water Cooler: Accessible for refreshing cold water.</li>
  </ul>
  <li><strong>Accommodation:</strong></li>
  <ul>
    <li>Double Seater Rooms: Each room accommodates two individuals with an attached washroom.</li>
    <li>Rooms are like flats with a common area in each compartment.</li>
    <li>Open area in front for recreational activities.</li>
    <li><strong>Location:</strong> <a href="https://maps.app.goo.gl/UgN6LHCTc45oNYd28" target="_blank">https://maps.app.goo.gl/UgN6LHCTc45oNYd28</a></li>
  </ul>
  <li><strong>Amenities:</strong></li>
  <ul>
    <li>Geyser: Available for hot water supply, especially during cold weather.</li>
    <li>Common Fridge: Accessible for storing food and drinks.</li>
    <li>Electricity Bill: Separate billing for electricity consumption.</li>
    <li>Fan: Provided for air circulation within the rooms.</li>
    <li>AC: Air conditioning units installed for cooling.</li>
    <li>Cooler: Not available.</li>
  </ul>
  <li><strong>Contact Information:</strong></li>
  <ul>
    <li>Contact: 9815214477, 9988899003 for inquiries or further information.</li>
  </ul>
  <li><strong>Additional Information:</strong></li>
  <ul>
    <li><strong>Note*:</strong> All the prices are part of a monthly subscription model. One might have to pay a security deposit despite all this. The price is totally dependent on the property owner and is subject to change. We do not guarantee any definite pricing or features.</li>
  </ul>
</ul>

        </div>
      </div>
    </div>
  </div>

  <footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container">
      <h2>PGFinder</h2>
      <p>Email: <a href="mailto:pgfinderr@gmail.com" class="text-black">pgfinderr@gmail.com</a></p>
      <p>Chandigarh University, NH-05, Gharuan, Chandigarh State, Punjab, India</p>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
