<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PGFinder - Home</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  {{>navbar}}
  
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <div class="col-md-6 col-12 Pg-text d-flex justify-content-center align-items-start flex-column">
            <h1>FIND YOUR PERFECT PG</h1>
            <p>PGFinder offers monthly rental rooms for students in Chandigarh University. With our custom room search filters, finding your perfect room has never been easier. Our platform provides room and building images, contact details, and student reviews for transparency. We are committed to enhancing user experience by expanding to nearby cities.</p>
          </div>
          <div class="col-md-6 col-12 Pg-text">
            <img src="\images\CHandUnivCampus-0001.jpg" alt="Description_of_image">
          </div>
        </div>
      </div>
    </div>
  </div>

  {{>AvailableRooms}}
  
  {{>maps}}

  <div class="feat bg-gray pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="section-head col-sm-12">
          <h4><span>Why Choose</span> Us?</h4>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_one"><i class="fa fa-globe"></i></span>
            <h6>Comprehensive Listings</h6>
            <p>We offer a wide range of PGs and rooms with detailed listings to cater to diverse student needs and preferences around Chandigarh University.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_two"><i class="fa fa-anchor"></i></span>
            <h6>Verified Information</h6>
            <p>All our listings are self-surveyed with genuine photographs and accurate details, ensuring you get trustworthy information about each accomodation.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_three"><i class="fa fa-hourglass-half"></i></span>
            <h6>Proximity to University</h6>
            <p>Our accomodations are strategically located near Chandigarh University, providing students with convenient and quick access to the campus.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_four"><i class="fa fa-database"></i></span>
            <h6>User-Friendly Platform</h6>
            <p>Our website is designed to be intuitive and easy to navigate, allowing you to find the perfect accomodation with ease.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_five"><i class="fa fa-upload"></i></span>
            <h6>Detailed Amenities and Facilities</h6>
            <p>We provide detailed description of facilities and amenities for each accommodation, so you know exactly what to expect before making a decision.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_six"><i class="fa fa-camera"></i></span>
            <h6>Regular Updates</h6>
            <p>We regularly update our listings to ensure you have access to the latest and most accurate information about available accomodations near Chandigarh University.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  {{>contact}}

  <footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container">
      <h2>PGFinder</h2>
      <p>Email: <a href="mailto:pgfinderr@gmail.com" class="text-black">pgfinderr@gmail.com</a></p>
      <p>Chandigarh University, NH-05, Gharuan, Chandigarh State, Punjab, India</p>
    </div>
  </footer>
  
  <script src="../jq/jquery.js" type="text/javascript"></script>
  <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>
</html>
