<div class="container-fluid mt-5 Available Rooms-style" id="AvailableRooms">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      
      <div class="text-center mb-4">
        <a href="/rooms" class="btn btn-primary">View Available Rooms</a>
      </div>
      <div class="row">
        <div class="col-md-6 col-12 Pg-text">
          <figure>
            <!-- Add any image or content here if needed -->
          </figure>
        </div>
        <!-- right side -->
        <div class="col-md-6 col-12 Pg-text order-md-0 order-0">
          <!-- Add any content here if needed -->
        </div>
      </div>
    </div>
  </div>
</div>
