<section>
    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3356.9975050966814!2d76.57380673062357!3d30.76864211898271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ffb140bd63e07%3A0x68591e334d17a988!2sChandigarh%20University!5e1!3m2!1sen!2sin!4v1716544131150!5m2!1sen!2sin" 
        width="100%" 
        height="450" 
        frameborder="0" 
        style="border:0;" 
        allowfullscreen="" 
        aria-hidden="false" 
        tabindex="0">
    </iframe>
</section>
